<div style="height:250px;background-color: #345; color:#fff; padding-left:50px;">
  
  <img src="https://www.alphafast.com/images/_alpha_logo-01.png" height="150px" style="padding-top:50px;" /><img src="https://i0.wp.com/www.revenuearchitects.com/wp-content/uploads/2017/02/Blog_pic.png?resize=705%2C399&ssl=1" height="150px" style="padding-top:50px;" />
  
</div>
<div style="font-family:Verdana; font-size:1.4em; font-weight:600;padding-left:50px;"><%= link_to 'Home', root_path %>&nbsp&nbsp&nbsp&nbsp<%= link_to 'About', about_path %>&nbsp&nbsp&nbsp&nbsp<%= link_to 'Alpha Blog Articles', articles_path %></div>
  

<div style="color: #000; padding-left:50px;" >
  
<h1 style="padding-top:20px;">About</h1>
<p>This is all about me and I'm into golf</p>

<img src="https://cardfool.s3.amazonaws.com/cards/assets/low_Golf%20Balls%20Could%20Talk_cover.jpg" />

</div>