<div style="height:250px;background-color: blue; color:#fff; padding-left:50px;">
  
  <img src="https://www.alphafast.com/images/_alpha_logo-01.png" height="150px" style="padding-top:50px;" /><img src="https://i0.wp.com/www.revenuearchitects.com/wp-content/uploads/2017/02/Blog_pic.png?resize=705%2C399&ssl=1" height="150px" style="padding-top:50px;" />
  
</div>
<div style="font-family:Verdana; font-size:1.4em; font-weight:600;padding-left:50px;"><%= link_to 'Home', root_path %>&nbsp&nbsp&nbsp&nbsp<%= link_to 'About', about_path %>&nbsp&nbsp&nbsp&nbsp<%= link_to 'Alpha Blog Articles', articles_path %></div>


<div style="background:#b5d3a1; color: #000; padding-left:50px;" >
  
<h1 style="padding-top:20px;">Home</h1>
<p>Hey, this is my home blog page. There isn't much here but it's mine!</p>

<img src="https://veryfunnypics.eu/wp-content/uploads/2012/06/very-funny-pics-golf.jpg" />

</div>
